$primary-font: "Poppins", sans-serif;
$color1: rgb(210, 30, 132);
$color2: blue;
$color3: rgb(234, 234, 234);
$color4: rgb(31, 31, 31);
$card-bg-img: url("../img/bg.jpg");
$breakpoint: 600px;
$vendors:("", "-webkit-","-moz-","-o-","-ms-");